@import "App.css";
@import "components/Login/Login.css";
@import "components/Chat/Chat.css";
@import "components/Input/Input.css";
@import "components/MessageCard/MessageCard.css";
@import "components/Header/Header.css";

body {
  margin: 0;
  height: 100vh;
  overflow: hidden;
  font: inherit;
}

#root {
  height: 100%;
}