.input-container {
    padding: 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
    font-size: 16px;
}

.white-text-field {
    background-color: "transparent";
}

.white-text-field .MuiOutlinedInput-root {
    & fieldset {
        border-color: #fff;
    }

    &:hover fieldset {
        border-color: #fff;
    }

    &.Mui-focused fieldset {
        border-color: #fff;
    }
}

.white-text-field .MuiInputBase-input {
    color: #fff;
}

.white-text-field .MuiInputLabel-root {
    color: #fff;
}